/***********************
GENERAL
***********************/

body {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	text-align: center;
	margin:0 auto;
	background-color: #FFFF00;
}

div {
	margin:0 auto;
}

p {
  text-align: justify;
  padding: 0 5px;
  font-size: .9em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

a:hover {
	display: block;
	color:yellow;
}

img {
  max-width: 100%;
}

/***********************
HEADER
***********************/

#mainHeader {
	position: relative;
	margin-top: 15px;
}

#headerHeading {
	z-index: 1;
}

#headerHeading h1 {
	font-family: Insolente, sans-serif;
	color: #FF7800;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-size: 1.1em;
	margin-top: 20px;
}

#headerHeading h2 {
	font-family: Insolente, sans-serif;
	color: #FF7800;
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

#headerImage {
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


/***********************
NAVIGATION
***********************/

nav {
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

nav li {
  background-color: #FF7800;
  margin-bottom: 10px;
  padding: 10px 0;
  color: white;

}

/***********************
INDEX
***********************/
#indexNav {
	margin: 0 auto;
}

#values {
	width: 85%;
}

div#value1, div#value2, div#value3 {
	border-top: solid 3px #FF7800;
	padding-top: 15px;
}

/***********************
Product Page
***********************/
#productCard0,
#productCard1,
#productCard2,
#productCard3,
#productCard4,
#productCard5,
#productCard6,
#productCard7 {
	display: inline-block;
	max-width: 30%;
	border: 1px solid #FF7800;
	margin: 10px;
	margin-left: 30px;
	vertical-align: top;
	padding: 5px;
}


/***********************
ORDER FORM
***********************/

form h1  {
	max-width: 100%;
	text-align: center !important;
	margin: .67em 0 .67em 0;
	font-size: 1.4em;
}

form {
	text-align: left;
	border: 4px solid black;
	font-size: 1em;
	max-width: 80%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	background: lightgrey;
	justify-content: auto;
}

#order-type {
	background-color: white;
}

form input {
	margin-bottom: 2em;
}

form input, select {
  float: auto;
  width: 80%;
  text-align: left;
  line-height: 1em;
  padding: 1em;
  margin: 1em;
}

form input[type="checkbox"] {
	text-align: left;
	vertical-align: middle;
	width: 15px;
	border-radius: 10px;
	line-height: 2px;
	margin: 4px;
	height: 30px;
	border: 2px solid black;
}

form label {
	line-height: 2em;
	padding-bottom: 1em;
}

form option {
	background: visible;
}

#textarea {
	width: 80%;
	height: 5em;
	margin-left: 20px;
	align-content: center;
}

button {
  padding: 19px 39px 18px 39px;
  background-color: #FF7800;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 10px solid black;
  border-width: 3px 3px 3px 3px;
  margin-top: 2em;
  margin-bottom: 10px;
  margin-left: 25%
}


/***********************
About Page
***********************/
.about-nav {
	color: black;
}

#about-nav li {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

ul#about-nav {
	padding-left: 0;
}

.about-nav:hover {
	display: block;
	color: #FF7800;
}

a#contact-us {
	color: black;
	padding: 0 0;
	display: block;
	max-width: 15%;
	margin-right: auto;
	margin-left: auto;
	
}

div#contact-div {
	margin-bottom: 15px;
}

a#contact-us:hover {
	color: #FF7800;
}


/***********************
FOOTER
***********************/
footer {
	clear:both;
	border-top: 2px solid #FF7800;
	padding-top: 5px;

}

#footerLogos {
	padding-top: 0;
}

footer p {
	text-align: center;


/***********************
MEDIA QUERIES
***********************/


@media screen and (min-width: 480px) {
}

@media screen and (min-width: 660px) {
}
