/***********************
GENERAL
***********************/

body {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	text-align: center;
	margin:0 auto;
	background-color: #FFFF00;
}

div {
	margin:0 auto;
}

p {
  text-align: justify;
  padding: 0 5px;
  font-size: .9em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/***********************
HEADER
***********************/

div#mainHeader {
	position: relative;
	margin-top: 15px;
}

#headerHeading {
	z-index: 1;
}

#headerHeading h1 {
	font-family: Insolente, sans-serif;
	color: #FF7800;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-size: 1.2em;
	margin-top: 20px;
}	

#headerHeading h2 {
	font-family: Insolente, sans-serif;
	color: #FF7800;
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

#headerImage {
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/*opacity:0.6;*/
}


/***********************
NAVIGATION
***********************/

nav {
  padding: 10px 0;
  margin-top: 20px;

}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 75%
  margin: auto;
}

nav li {
  background-color: #FF7800;
  margin-bottom: 10px;
  padding: 10px 0;
  color: white;
  max-width: 75%

}

/***********************
INDEX
***********************/
ul#indexNav {
	margin: 0 auto;
}

#values {
	width: 85%;
}

/***********************
ORDER FORM
***********************/

form {
	text-align: left;
	font-size: .8em;
	max-width: 75%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	background: lightgrey;
}

form . {
	align-self: center;
}

form input, select {
  float: auto;
  width: 50%;
  text-align: left;
  line-height: 1em;
  padding: 1em;
  margin: 1em;

form.input 

#textarea {
	width: 50%;
}

button {
  -text-kit: none;
  padding: 19px 39px 18px 39px;
  background-color: blue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}







/***********************
FOOTER
***********************/