/***********************
GENERAL
***********************/

body {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
}

p {
  text-align: justify;
  padding: 0 5px;
  font-size: .9em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/***********************
HEADER
***********************/

nav {
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  background-color: #AA4C39;
  margin-bottom: 10px;
  padding: 10px 0;
}

/***********************
INDEX
***********************/

/***********************
ORDER FORM
***********************/

form input, select {
  float: auto;
  width: 50%;
  text-align: left;
  line-height: 1em;
  padding: 1em;
  margin: 1em;

form input {
  text-align: center;
  margin-left: 2em;
}

button {  
clear: left;  
margin: 20px 0 0 230px;  
font-size:18px  
}  






/***********************
FOOTER
***********************/